DOCTYPE html
html 
    head 
        title This is title<
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body 
        h1='Hello word'
        